body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

#WebStart {
        text-align: center;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 10px;
        background-color: #ffffff;
        border-radius: 50px;
        box-shadow: 5 5 10px rgba(0.1, 0.1, 0.1, 0.1);
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ol {
    display: inline-block; /* Makes the list items display inline-block */
    text-align: left; /* Centers the text of the list item */
}

ul {
    list-style-type: none; /* Removes the bullet points from the list */
    padding: 0; /* Removes the default padding from the list */
    text-align: center; /* Centers the text of the list */
    display: inline-block;
}
/* Add style for the social link */
.social-links {
    margin-top: 20px;
}
.social-link {
    text-decoration: none;
    color: #007BFF;
}
.social-link:hover {
    text-decoration: underline;
}

#about {
    text-align: center;
    padding: 20px;
    display: : inline-block;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    margin: 50px;;
}

#game {
    width: 80%; /* Adjust based on desired width */
    max-width: 960px; /* Optional: set a max width */
    text-align: center; /* Centers text and inline elements inside the container */
}

#letterboxd-embed-wrapper-tc {
    display: flex;
    justify-content: center;  /* Horizontally centers the content */
    align-items: center;      /* Vertically centers the content */
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* Ensures it takes up the full width of its container */
    box-sizing: border-box;  /* Includes padding in the total width */
  }